.img {
  background-image: url("./../../img/photo-1643242754278-85877ff62fad.jpg");
  width: 80%;
  height: 40vh;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 40px;
    line-height: 40vh;
  }
}
