* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url("/img/nature.jfif");
    background-repeat: no-repeat;
    background-size: 100%;
}
body {
    margin: auto;
    width: 90vw;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}
body::-webkit-scrollbar {
    width: .5vw;
    background: linear-gradient(rgb(33, 73, 126), rgb(73, 13, 73));
}
body::-webkit-scrollbar-thumb {
    background: rgb(103, 139, 180);
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
li {
    list-style: none;
}
.nav-bar {
    position: fixed;
    float: left;
    top: 0;
    /* left: 35px; */
    left: 3vw;
    width: 20%;
    height: 100%;
    background-color: rgba(36, 180, 206, .6);
}
.nav-bar__links {
    font-size: 20px;
    width: 100%;
    height: 50px;
    display: inline-block;
}
.nav-bar__links > li {
    background-color: #6597E1;
    display: block
}
.nav-bar__links > li > a, .nav_bar-link1__items > li > a {
    padding: 5px 0;
    transition: .5s ease;
}
.nav-bar__links > li > a:hover, .nav_bar-link1__items > li > a:hover {
    text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
.nav_bar-link1__items> li {
    background-color: #4377DD;
    position: relative;
}
/* .nav_bar-link1__items > li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    color: white;
    background-color: blue;
    transition: .5s linear;
    top: 0;
    left: 0;
}
.nav_bar-link1__items li:hover::before {
    color: white;
    width: 100%;
} */
.nav_bar-link1__items > li > a {
    padding-left: 30px;
}
.nav-bar__links > li:nth-child(3) {
    font-weight: bold;
}
.articules::-webkit-scrollbar {
    width: 6px;
    background: linear-gradient(rgb(33, 73, 126), rgb(73, 13, 73));
}
.articules::-webkit-scrollbar-thumb {
    background: rgb(103, 139, 180);
}
.articules {
    overflow-y: scroll;
    display: inline-block;
    margin-left: 20%;
    width: calc(90%-6px);
    /* height: calc(100% - 50px); */
    height: 100vh;
    background-color: #7AA9F1;
    justify-content: center;
}
.articules p {
    margin-left: 10px;
}
.articules > section > h1 {
    font-size: 40px;
    color: #20369F;
    margin: 20px 0 20px 10px;
}
.articules > section > img {
    width: 400px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.articules > article > h2 {
    font-weight: bold;
    margin: 15px 0 15px 10px;
} 
.articules > article > h5 {
    font-size: 40px;
    color: #20369F;
    margin: 20px 0 20px 10px;
} 
.formName {
    float: left;
    margin: 30px 20px 0;
    width: calc(50%-20px);
    height: 250px;
}
.formChoose {
    float: right;
    margin: 30px 0 10px;
    width: 50%;
    height: 250px;
}
.tableOfData {
    width: 96%;
    margin-left: 2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tableOfData tr:nth-child(2n) > td {
    background-color: #BCD6F7;
}
.tableOfData tr:nth-child(2n+1) > td {
    background-color: #7AA9EF;
}
.tableOfData  tr{
    height: 30px;
}
.tableNames {
    color: white;
}
.tableNames > th {
    background-color: #3674AD;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 3vw;
    width: 92%;
    height: 50px;
    background-color: rgb(43, 43, 156);
    color: white;
    text-align: center;
}
.footer > article > h5 {
    height: 30px;
    line-height: 30px;
}