.inputContainer {
  display: block;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 2px 5px;
}
.inputContainer input {
  width: 90%;
  margin: 10px 5px 5px;
  padding: 5px;
  border-radius: 8px;
}

.inputContainer button {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}

.inputContainer button:hover {
  background-color: rgb(0, 52, 163);
  color: #fff;
}
